<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Polozky skladu</h1>

<table>
    <tr>
        <th>Název</th>
        <th>Množství</th>
        <th>Jednotka</th>
    </tr>
    <tr th:each="store_item : ${store_items}">
        <td th:text="${store_item.name}">nazev</td>
        <td th:text="${store_item.amount}">100</td>
        <td th:text="${store_item.unit}">ks</td>
    </tr>
</table>

</body>
</html>